*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.container{
width: 50px;
min-height: 100vh;
background: linear-gradient(135deg, #153677, #4e085f);
 


}
.todo-list{   
    margin: 50px;
    width: 500px;
    max-width: 450px;
    text-align: center;
    justify-content: center;
    background: aquamarine;
    background-size: 15px;
    margin: 250px;
    padding: 50px;
    border-radius: 5px;
}